<% @posts.each do | post | %>
<div class="col-md-12 facebook-post">
    <div class="panel panel-default">
        <div class="panel-body">
           <section class="post-heading">
                <div class="row">
                    <div class="col-md-11">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object photo-profile" src="<%= @current_tab.image %>" width="40" height="40" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="#" class="anchor-username"><h4 class="media-heading"><%= @current_tab.name %></h4></a> 
                            <a href="#" class="anchor-time"><%= get_time(post.created_time) %></a>
                          </div>
                        </div>
                    </div>
                </div>             
           </section>
           <section class="post-body">
               <p><%= truncate(post.content, :length => 400) %></p>
           </section>
           <section class="post-footer">
               <hr>
                  <%= link_to 'Automate', post_path(@current_tab,post),  {class: 'btn btn-primary', id: 'automate-button' }  %>
           </section>
        </div>
    </div>   
</div>
<% end %>