<div class="col-md-12 facebook-post">
    <div class="panel panel-default">
        <div class="panel-body">
           <section class="post-heading">
                <div class="row">
                    <div class="col-md-11">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object photo-profile" src="<%= @current_tab.image %>" width="40" height="40" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="#" class="anchor-username"><h4 class="media-heading"><%= @current_tab.name %></h4></a> 
                            <a href="#" class="anchor-time"><%= get_time(@post.created_time) %></a>
                          </div>
                        </div>
                    </div>
                </div>             
           </section>
           <section class="post-body">
               <p><%= truncate(@post.content, :length => 400) %></p>
           </section>
        </div>
    </div>   
</div>

<div class="col-md-12 facebook-post">
    <div class="panel panel-default">
        <div class="panel-body">
        <%= form_for @post, url: update_post_path(@current_tab,@post), html: {class: 'col-xs-12'} do |f| %>
            <div class="form-group ">
                <%= f.label "Enable Private Message" %> 
                <div class="material-switch">      
                    <%= f.check_box  :is_private_message %>
                    <%= f.label :is_private_message, '&nbsp;'.html_safe,  {class: 'label-primary', id: 'pm-switch'} %> 
                </div>
            </div>
            <% if @post.is_private_message %>
            <div class="form-group" id = "pm-input">
            <% else %>
            <div class="form-group" id = "pm-input" style= "display: none;">
            <% end %>
                <%= f.label "Private message content" %> <br>
                <%= f.text_area :private_message_content, {class: 'form-control', placeholder: 'Enter the message that will be sent to the user inbox'}  %> <br />
            </div>
            <div class="form-group">
                <%= f.label "Enable Comment Reply" %> 
                <div class="material-switch">      
                    <%= f.check_box  :is_reply %>
                    <%= f.label :is_reply, '&nbsp;'.html_safe,  {class: 'label-primary', id: 'reply-switch'} %> 
                </div>
            </div>            
            <% if @post.is_reply %>
            <div class="form-group" id = "reply-input">
            <% else %>
            <div class="form-group" id = "reply-input" style= "display: none;">
            <% end %>
                <%= f.label "Comment reply content" %> 
                <%= f.text_area   :reply_content , {class: 'form-control', placeholder: 'Enter the message that will be replied to the user comment'} %> <br />
            </div>

            <div class="form-group" id = "keyword-input">
                <%= f.label "Keyword" %> 
                <%= f.text_area   :keyword , {class: 'form-control', placeholder: 'Enter the keyword you want to detect. Separate it by "," '} %> <br />
            </div>              
           
            <%= f.submit "Save" , {class: 'btn btn-primary'}%>
        <% end %>
        </div>
    </div>   
</div>

