<!DOCTYPE html>
<html>
  <head>
    <title>Pixel Byte</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all'%>
<%= javascript_include_tag 'application'%>
<%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110984874-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110984874-1');
</script>

</head>
<body>

    <div id = "login-wrapper-parent" class = "container-fluid">
        <div class = "row">
          <div class = "header col-xs-12">
            <div class = "col-md-8 col-md-push-1">
            <h1 class = "title"><%= link_to "Pixel Byte", root_path, class: 'remove-link' %></h1>
            </div>
          </div>
          <%= yield %>
        <div class = "col-xs-12 footer">
          <h4>Copyright © Pixel Byte 2017 <%= link_to "Privacy", privacy_path, class: 'remove-link' %> </h4>
        </div>
        </div>
</div>
    
</body>
<!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            facebook: "159328771288541", // Facebook page ID
            email: "pixelbyte.malaysia@gmail.com", // Email
            company_logo_url: "//storage.whatshelp.io/widget/43/43c4/43c4a9e1013a3e256ab79b6b016a4017/21558585_161668797721205_7569037789076235707_n.png", // URL of company logo (png, jpg, gif)
            greeting_message: "Hello! If you need any help, feel free to message us on facebook!", // Text of greeting message
            call_to_action: "Contact us", // Call to action
            button_color: "#129BF4", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,email" // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /WhatsHelp.io widget -->
</html>
